@font-face {
  font-family: "beba";
  src: url(../font/BEBAS___.ttf) format("truetype");
}


.f-l {
	float:left;
}
.f-r {
	float:right;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.mg-b-10 {
	margin-bottom: 10%;
}

.bg-w {
	background-color: #fff;
}
